APP_NAME=New Vitriona
DEV=true
APP_URL=http://localhost:8000
FRONTEND_URL=http://localhost:5173
STORAGE_DIR=./storage
JWT_SECRET=change-me
CSRF_SECRET=change-me-too
REFRESH_TOKEN_PEPPER=change-me-pepper
AFFISE_DATA_SECRET=jodz_YxC08jSCysCA78hZMuwi-ryUdLsMMKaAAEZeas=
REFRESH_COOKIE_PATH=/api/auth
ACCESS_TOKEN_EXPIRE_SECONDS=180
REFRESH_TOKEN_EXPIRE_SECONDS=2592000
POSTGRES_USER=vitriona
POSTGRES_PASSWORD=secret
POSTGRES_DB=vitriona
POSTGRES_HOST=db
POSTGRES_PORT=5432
REDIS_URL=redis://redis:6379/0

MAIL_FROM_ADDRESS=noreply@example.com
MAIL_FROM_NAME=Vitriona
MAIL_TRANSPORT=log

AFFISE_ENABLED=
AFFISE_API_URL=https://api-s-y-n-c.affise.com
AFFISE_API_KEY=
